            
            body{
                animation: fadeInAnimation ease 3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            @keyframes fadeInAnimation{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

            #color
            {
                background-color: #e5243b;
                top: 0px;
                left: 0px;
                position: ;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color1
            {
                background-color: #dda63a;
                top: 0px;
                left: 6%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color2
            {
                background-color: #4c9f38;
                top: 0px;
                left: 12%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color3
            {
                background-color: #c5992d;
                top: 0px;
                left: 18%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color4
            {
                background-color: #ff3a21;
                top: 0px;
                left: 24%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color5
            {
                background-color: #26bde2;
                top: 0px;
                left: 30%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color6
            {
                background-color: #fcc30b;
                top: 0px;
                left: 36%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color7
            {
                background-color: #a21942;
                top: 0px;
                left: 42%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color8
            {
                background-color: #fd6925;
                top: 0px;
                left: 48%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color9
            {
                background-color: #dd1367;
                top: 0px;
                left: 54%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color10
            {
                background-color: #fd9d24;
                top: 0px;
                left: 60%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color11
            {
                background-color: #6f8b2e;
                top: 0px;
                left: 66%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color12
            {
                background-color: #3f7e44;
                top: 0px;
                left: 72%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color13
            {
                background-color: #0a97d9;
                top: 0px;
                left: 78%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color14
            {
                background-color: #56c02b;
                top: 0px;
                left: 84%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color15
            {
                background-color: #00689d;
                top: 0px;
                left: 90%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }

            #color16
            {
                background-color: #19456a;
                top: 0px;
                left: 96%;
                position: absolute;
                width: 6%;
                height: 10px;
                padding: 0px 0px 0px 0px;
            }